/*********** Standard tags **********/
body {
  margin: 0;
  padding: 0;
  background-color: yellowgreen;
}

hr {
  margin: 20px;
  border: 0;
  height: 1px;
  background: linear-gradient(to right, transparent, black, transparent);
}

header {
  box-shadow: 0 4px 16px #222;
  padding: 24px 0;
  background-color: #3ae;
}

header h1 {
  margin: 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 3em;
  color: white;
}

/******** IDs *********/
#canvas {
  display: inline-block;
  vertical-align: middle;
  border: 2px solid white;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  margin: 16px auto;
  box-shadow: 0 0 32px black;
}

#controls-div {
  display: inline-block;
  vertical-align: middle;
  padding: 8px 32px;
  border-radius: 8px;
  border-left: 4px solid white;
  box-shadow: -24px 0 32px -24px black;

  width: 256px;
  font-family: monospace;
  font-size: 16px;
}

#controls-div table {
  margin: 32px 0;
  border-collapse: collapse;
  width: 100%;

  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#controls-div caption {
  padding-bottom: 8px;
}

#controls-div th {
  border-bottom: 2px solid black;
  padding: 8px 0;
}

#controls-div td {
  padding-top: 8px;
  padding-bottom: 8px;
}

#controls-div tr td:first-child {
  text-align: right;
  padding-right: 16px;
}

/*#controls-div tr:last-child td {
  padding-bottom: 8px;
}*/

#controls-div input,
#controls-div button,
#controls-div select {
  font-family: inherit;
  font-size: inherit;
}

#controls-div input[type="number"] {
  width: 10ex;
  padding-left: 8px;
  border: none;
  border-bottom: 2px solid black;

  color: white;
  background-color: transparent;
}

#controls-div input[type="number"]:focus {
  outline: none;
  border-color: #44aaff;
}

/* Snatched from some stackoverflow solution
  This hides the spinners on the the number input fields
*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

#controls-div select {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  color: white;
  width: 100%;
}

#controls-div select:active {
  border-color: #44aaff;
}

#controls-div select option {
  color: black;
}

#simulation-control-panel {
  /*background-color: #38c;*/
  /*padding: 8px;*/
  text-align: center;
  border: 4px solid white;;
  box-shadow: 0 0 16px black;
}

/****** Classes ******/
button.ctrl-but {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 12px;
  outline: none;
  line-height: 0;
}

button.ctrl-but svg path {
  opacity:1;
  fill:#f0f0f0;
  fill-opacity:1;
  stroke-linejoin:miter;
  stroke-miterlimit:4;
  stroke-width: 2px;
}

button.ctrl-but:hover {
  /*box-shadow: 0 0 16px #222222;*/
}

button.ctrl-but:hover path {
  stroke: black;
}

button.ctrl-but:active path {
  fill: #8ea;
}

.aligned {
  max-width: 1280px;
  margin: 0 auto;
}

.main {
  padding: 16px 0;
  text-align: center;
}
